*{
    box-sizing: border-box;
   -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    background-image:url("../css/cal.jpg");
}
.wrap{
    width: 400px;
    margin: auto;
    height: auto;
    padding: 15px;
    background:white;
}
input[type=text]{
    width: 100%;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 7px;
}
input[type=button]{
    width: 89px;
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border-radius: 7px;
}
#del{
    width: 100%;
}
